@import url('https://fonts.googleapis.com/css2?family=Sintony');
@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: 'Euro Caps';
    src: url('/fonts/EUROCAPS.TTF') format('truetype');
}

@plugin "daisyui/theme" {
    name: "elite";
    default: true;
    prefersdark: true;

    --default-font-family: "Sintony";
    --font-mono: "Euro Caps";

    --color-base-100: rgb(0, 0, 0);
    --color-base-200: rgba(255, 127, 0, 0.0625);
    --color-base-300: rgba(255, 127, 0, 0.1875);
    --color-base-content: rgb(255, 127, 0);
    --color-primary: rgba(255, 127, 0, 0.8125);
    --color-primary-content: rgba(0, 0, 0, 0.8125);
    --color-secondary: rgba(0, 255, 255, 0.0625);
    --color-secondary-content: rgba(175, 255, 255, 0.8125);
    --color-accent: rgba(31, 31, 31, 0.8125);
    --color-accent-content: rgba(255, 255, 255, 0.8125);
    --color-neutral: rgba(0, 0, 0, 0.1875);
    --color-neutral-content: rgba(255, 127, 0, 0.8125);
    --color-info: rgba(0, 255, 255, 0.1875);
    --color-info-content: rgba(0, 255, 255, 0.8125);
    --color-success: rgba(0, 255, 0, 0.1875);
    --color-success-content: rgba(0, 255, 0, 0.8125);
    --color-warning: rgba(255, 255, 0, 0.1875);
    --color-warning-content: rgba(255, 255, 0, 0.8125);
    --color-error: rgba(255, 0, 0, 0.1875);
    --color-error-content: rgba(255, 0, 0, 0.8125);
}

@theme {
    --inset-shadow-pp: inset 0 -1px 4px 0, inset 0 1px 4px 0;
    --color-archer: rgb(255, 0, 255);
    --color-winters: rgb(255, 153, 0);
    --color-aisling: rgb(0, 191, 255);
    --color-arissa: rgb(153, 0, 255);
    --color-patreus: rgb(31, 223, 223);
    --color-torval: rgb(0, 95, 255);
    --color-kaine: rgb(153, 255, 0);
    --color-mahon: rgb(0, 153, 0);
    --color-antal: rgb(255, 255, 0);
    --color-delaine: rgb(255, 0, 0);
    --color-grom: rgb(255, 95, 0);
    --color-li: rgb(0, 255, 127);
}

@layer utilities {
    .menu {
        --menu-active-bg: var(--color-primary);
        --menu-active-fg: var(--color-primary-content);
    }
}
